---
layout: page
---

<h2>Sensor View Template</h2>
<div style="text-align: center; margin: 10px 0;"><img src="/assets/img/sensor-view.webp" alt="Sensor View Template" style="width: 100%; height: auto; display: block; margin: 0 auto;"></div>

<div class="content">
  <p>This template is designed to display data from a wide range of sensors, making it ideal for projects that need real-time environmental data visualization. The template supports most analog sensors, and plans to add digital sensor compatibility are in development.</p>

  <h3>Components</h3>
  <ul style="padding-left: 20px; list-style-type: disc;">
    <li><a href="/components/sensors" style="text-decoration: underline; font-weight: bold;">Sensors</a></li>
    <li><a href="/components/displays" style="text-decoration: underline; font-weight: bold;">Displays</a></li>
  </ul>

  <h3>Examples</h3>
  <ul>
    <li><strong><a href="https://github.com/ultiblox/UltiBloxExamples/tree/main/examples/SensorDisplay">Sensor Display</a></strong></li>
  </ul>


  <h3>Devices</h3>
  <ul>
    <li><strong><a href="/devices/soil-moisture-monitor">Soil Moisture Monitor</a></strong></li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li>Sensor Display Panels</li>
    <li>Environmental Monitoring Systems</li>
  </ul>
</div>
