{% extends "layouts/default.njk" %}

{% block content %}
  {% include 'partials/header.njk' %}

  <article class="mx-auto px-6 py-10">
    <h1 class="prose">{{ title }}</h1>
    <div class="prose mb-8">
      {{ content | safe }}
    </div>
  </article>

  <!-- Set parent to title if parent is not explicitly defined -->
  {% if not parent %}
    {% set parent = title %}
  {% endif %}

  {% include 'partials/footer.njk' %}
{% endblock %}
