---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/devices">Devices</a>
</nav>

<div class="content">
  <h2>Irrigator</h2>
  <div><img src="/assets/img/irrigator.webp" alt="Irrigator"></div>
  <p>The Irrigator device provides flexible, sensor-based irrigation control for various plants or garden setups. Built on the Sensor Control Template.</p>

  <h3>Template</h3>
  <ul>
    <li><a href="/templates/sensor-control">Sensor Control</a></li>
  </ul>

  <h3>Key Features</h3>
  <ul>
    <li>Soil moisture sensor.</li>
    <li>Peristaltic pump embedded into the enclosure.</li>
    <li>Displays the current soil moisture reading.</li>
    <li>Buttons for sensor calibration and the irrigation threshold.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li>Home Gardens</li>
    <li>Outdoor Plant Care</li>
  </ul>

  <h3>3D Printables</h3>
  <ul>
    <li>Coming soon...</li>
  </ul>

  <h2>Prototypes</h2>
  <h3>Prototype #1</h3>
  <img src="/assets/img/device-irrigator.jpg" alt="Irrigator">
</div>