---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/devices">Devices</a>
</nav>

<div class="content">
  <h2>Smart Pot</h2>
  <p>The Smart Pot device is designed for automated plant care, monitoring soil moisture and adjusting irrigation as needed.</p>

  <div><img src="/assets/img/device-smart-pot-3.jpg" alt="Smart Pot Version #3" class="w-full h-full object-cover rounded-lg shadow-lg"></div>

  <h3>Key Features</h3>
  <ul>
    <li>Removable/replaceable irrigator cartridge.</li>
    <li>Soil moisture sensor embedded into the pot.</li>
    <li>Peristaltic pump embedded into the cartridge.</li>
    <li>Displays the current soil moisture reading.</li>
    <li>Buttons for sensor calibration and the irrigation threshold.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li>Indoor Ornamental Plants</li>
    <li>Bench Top Garden</li>
  </ul>

  <h3>Template</h3>
  <ul>
    <li><a href="/templates/sensor-control">Sensor Control</a>
  </ul>

  <h3>Libraries</h3>
  <ul>
    <li><strong><a href="/libraries/DisplayValueLCD">DisplayValueLCD</a></strong></li>
    <li><strong><a href="/libraries/SensorAnalog">SensorAnalog</a></strong></li>
    <li><strong><a href="/libraries/ActiveThreshold">ActiveThreshold</a></strong></li>
    <li><strong><a href="/libraries/SerialLogger">SerialLogger</a></strong></li>
  </ul>

  <h3>Templates</h3>
  <ul>
    <li><strong><a href="/templates/SensorControl">SensorControl</a></strong></li>
  </ul>

  <h2>3D Printables</h2>
  <div class="stl-gallery">
    {% stlcard "Inner Pot", "The inner section of the smart pot", "UltiBlox-SmartPot-Inner.stl" %}
    {% stlcard "Outer Pot", "The outer section of the smart pot", "UltiBlox-SmartPot-Outer.stl" %}
    {% stlcard "Irrigator Cartridge", "The cartridge responsible for automatic irrigation", "UltiBlox-SmartPot-IrrigatorCartridge.stl" %}
    {% stlcard "Drip Halo", "Distributes water around the top of the pot", "UltiBlox-DripHalo.stl" %}
  </div>

  <h2>Parts List</h2>
  <p>Coming soon...</p>

  <h2>Assembly Instructions</h2>
  <p>Coming soon...</p>

  <h2>Revisions</h2>

  <h3>Current</h3>
  <p>Improvements:</p>
  <ul>
    <li>Added buttons and display. This version no longer needs a computer attached to calibrate or configure the irrigation threshold.</li>
    <li>Swapped to a more durable waterproof sensor.</li>
    <li>New 3d printed drip halo.</li>
  </ul>

  <h3>Prototype #1</h3>
  <p>Issues:</p>
  <ul>
    <li>After a few months the cheaper sensor started to corrode.</li>
    <li>While they didn't require a computer attached to operate, they did require one to calibrate and configure the irrigation threshold.</li>
  </ul>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-4">
    <!-- Right Image (spans 1 column on medium screens and above) -->
    <div class="md:col-span-1">
      
      <img src="/assets/img/device-smart-pot.jpg" alt="Smart Pot">
    </div>
  </div>
</div>