---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/devices">Devices</a>
</nav>

<div class="content">
  <h2>Smart Pot</h2>
  <div><img src="/assets/img/smart-pot.webp" alt="Smart Pot"></div>
  <p>The Smart Pot device is designed for automated plant care, monitoring soil moisture and adjusting irrigation as needed. Built on the Sensor Control Template.</p>

  <h3>Template</h3>
  <ul>
    <li><a href="/templates/sensor-control">Sensor Control</a>
  </ul>

  <h3>Key Features</h3>
  <ul>
    <li>Soil moisture sensor embedded into the pot.</li>
    <li>Peristaltic pump embedded into the cartridge.</li>
    <li>Displays the current soil moisture reading.</li>
    <li>Buttons for sensor calibration and the irrigation threshold.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li>Indoor Plant Care</li>
    <li>Automated Home Gardens</li>
  </ul>

  <h3>3D Printables</h3>
  <ul>
    <li>Coming soon...</li>
  </ul>


  <h2>Prototypes</h2>
  <h3>Prototype #2</h3>
  <p>Improvements:</p>
  <ul>
    <li>Added buttons and display. This version no longer needs a computer attached to calibrate or configure the irrigation threshold.</li>
    <li>Swapped to a more durable waterproof sensor.</li>
  </ul>
  <p>Issues:</p>
  <ul>
    <li>The tubing from the pump into the pot is on the outside, when it should be hidden by the outter part of the pot. The design has since been flipped so this tube is hidden on the inside.</li>
    <li>The cartridge has a small gap in it. This has been fixed by filling in the top of the inner cartridge section and improving the fit.</li>
  </ul>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <!-- Left Image (spans 2 columns on medium screens and above) -->
    <div class="md:col-span-2">
      <img src="/assets/img/device-smart-pot-2.jpg" alt="Smart Pot Prototype #2" class="w-full h-full object-cover rounded-lg shadow-lg">
    </div>
  </div>
  <h3>Prototype #1</h3>
  <p>Issues:</p>
  <ul>
    <li>After a few months the cheaper sensor started to corrode.</li>
    <li>While they didn't require a computer attached to operate, they did require one to calibrate and configure the irrigation threshold.</li>
  </ul>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <!-- Right Image (spans 1 column on medium screens and above) -->
    <div class="md:col-span-1">
      
      <img src="/assets/img/device-smart-pot.jpg" alt="Smart Pot">
    </div>
  </div>
</div>