---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/components">Components</a>
</nav>

<div class="content">


  <h2>Outputs</h2>
  <div><img src="/assets/img/outputs.webp" alt="Outputs"></div>

  <p>Output modules in the UltiBlox ecosystem provide control over power to external devices like lights, motors, or any connected system that requires switching. They are designed to integrate modularly, allowing you to easily add or swap modules to suit your project's power control needs.</p>

  <h3>Modular Output Options</h3>
  <ul>
    <li><strong>Relay Modules:</strong> Perfect for switching high-power devices with isolation from the control circuit, ensuring safe and reliable operation.</li>
    <li><strong>MOSFET Modules:</strong> Ideal for fast switching applications, like PWM control of motors or LEDs, offering efficient and precise control.</li>
  </ul>

  <h3>Key Benefits</h3>
  <ul>
    <li><strong>Versatile Output Control:</strong> Easily add modules to switch power on/off, control motor speeds, or manage lighting, adapting to diverse project needs.</li>
    <li><strong>Modular and Flexible:</strong> Swap or upgrade output modules as project requirements evolve, maintaining modularity.</li>
    <li><strong>Reliable Power Management:</strong> Use relays for isolated control or MOSFETs for efficient switching, supporting a wide range of applications.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li><strong>Power Switching:</strong> Use a relay module to control high-power devices, ensuring safe power management for components like lights or appliances.</li>
    <li><strong>Motor Control:</strong> Integrate a MOSFET module to adjust motor speeds via PWM, providing smooth and variable control.</li>
    <li><strong>Lighting Systems:</strong> Add MOSFET-controlled LEDs for dynamic lighting effects, adjusting brightness or patterns as needed.</li>
  </ul>

  <h3>Libraries</h3>
  <ul>
    <li><strong><a href="/libraries/ActiveThreshold">ActiveThreshold</a></strong></li>
  </ul>

  <h3>Templates</h3>
  <ul>
    <li><strong><a href="/templates/sensor-control">Sensor Control</a></strong></li>
  </ul>

  <h3>Devices</h3>
  <ul>
    <li><strong><a href="/devices/irrigator">Irrigator</a></strong></li>
    <li><strong><a href="/devices/smart-pot">Smart Pot</a></strong></li>
  </ul>
</div>