---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/components">Components</a>
</nav>

<div class="content">


  <h2>Processors</h2>
  <p>Processors are the core of every UltiBlox project, providing the computing power that drives your ideas. They execute code, make decisions, and control other modules.</p>
  <img src="/assets/img/processors.webp" alt="Processors">

  <h3>Key Benefits</h3>
  <ul>
    <li><strong>Scalable Complexity:</strong> Begin with a basic processor and scale up as your project grows—no need for a complete rebuild.</li>
    <li><strong>Standard Compatibility:</strong> Designed to work easily with all UltiBlox components, from displays to sensors.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li><strong>Simple Monitoring:</strong> Use a basic processor to collect data from sensors and display it on an indicator.</li>
    <li><strong>Advanced Automation:</strong> Upgrade to a more powerful processor to handle complex tasks like automated watering systems or multi-sensor integration.</li>
  </ul>

  <h3>Devices</h3>
  <ul>
    <li><strong><a href="/devices/soil-moisture-monitor">Soil Moisture Monitor</a></strong></li>
    <li><strong><a href="/devices/irrigator">Irrigator</a></strong></li>
    <li><strong><a href="/devices/smart-pot">Smart Pot</a></strong></li>
  </ul>
</div>