---
layout: page
---

<nav aria-label="breadcrumb" class="breadcrumb">
  &gt;
  <a href="/">Home</a> &gt;
  <a href="/components">Components</a>
</nav>

<div class="content">

  <h2>Sensors</h2>
  <div><img src="/assets/img/sensors.webp" alt="Sensors"></div>

  <p>Sensors are fundamental to UltiBlox projects, enabling interactivity by allowing your system to perceive and respond to environmental factors like temperature, humidity, and light. By integrating sensors into your projects, you can make your builds more responsive and intelligent, adding an essential layer of real-world awareness.</p>

  <h3>Key Benefits</h3>
  <ul>
    <li><strong>Adaptable Sensing:</strong> Add or upgrade sensors to monitor different environmental factors, providing your projects with greater awareness and interactivity.</li>
    <li><strong>Simple Updates:</strong> Swapping or upgrading sensors involves only minor configuration changes, making the process quick and hassle-free.</li>
    <li><strong>Modular Consistency:</strong> Sensors integrate seamlessly with UltiBlox enclosures and libraries, ensuring a cohesive and consistent build experience.</li>
  </ul>

  <h3>Use Cases</h3>
  <ul>
    <li><strong>Environmental Monitoring:</strong> Use a moisture sensor to track soil conditions in gardening projects or a temperature sensor for climate control.</li>
    <li><strong>Interactive Control:</strong> Integrate light sensors to adjust other components—such as activating an LED based on ambient light levels or triggering a display update.</li>
  </ul>

  <h3>Libraries</h3>
  <ul>
    <li><strong><a href="/libraries/SensorAnalog">SensorAnalog</a></strong></li>
  </ul>
</div>