---
layout: page
---

<main class="features">
  <h2 class="text-2xl font-semibold mb-6 text-center">Brains</h2>
  <p class="text-center text-lg mb-10">The microcontrollers and processors. The heart of every project. Craft your inventions with intelligence.</p>

  <div class="max-w-4xl mx-auto text-center">
    <img src="/assets/img/brains.webp" alt="Brains" class="w-full h-auto object-cover rounded-lg shadow-md">
  </div>
</main>