---
layout: page
---

<main class="features">
  <h2 class="text-2xl font-semibold mb-6 text-center">Displays</h2>
  <p class="text-center text-lg mb-10">Clear visual outputs for your projects. Keep your data visible and easily understood.</p>

  <div class="max-w-4xl mx-auto text-center">
    <img src="/assets/img/displays.webp" alt="Displays" class="w-full h-auto object-cover rounded-lg shadow-md">
  </div>
</main>