---
layout: page
---

<main class="features">
  <h2 class="text-2xl font-semibold mb-6 text-center">Indicators</h2>
  <p class="text-center text-lg mb-10">Responsive LEDs for status updates. Make your projects easy to monitor at a glance.</p>

  <div class="max-w-4xl mx-auto text-center">
    <img src="/assets/img/indicators.webp" alt="Indicators" class="w-full h-auto object-cover rounded-lg shadow-md">
  </div>
</main>