---
layout: page
---

<main class="features">
  <h2 class="text-2xl font-semibold mb-6 text-center">Libraries</h2>
  <p class="text-center text-lg mb-10">Get into the code that drives it all. Our libraries provide the magic that makes every piece of hardware come alive.</p>

  <div class="max-w-4xl mx-auto text-center">
    <img src="/assets/img/libraries.webp" alt="Libraries" class="w-full h-auto object-cover rounded-lg shadow-md">
  </div>
</main>