@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,helvetica,Arial,sans-serif;
  }
}

@layer utilities {
  .visually-hidden { 
    @apply block absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px);
  }
}

main {
  /*padding-top: 100px;*/
}

#header {
  min-height: 400px; /* Adjust this value as needed */
  background-size: cover;
  background-position: center;
}
/* Default styling for standard HTML tags */

h2 {
  font-size: 1.875rem; /* Large font size for subheadings */
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem; /* Medium font size for sub-subheadings */
  font-weight: 500;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.5rem; /* Indent lists */
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}


ul {
  list-style-type: disc;
}

/* Remove underline for links within card elements */

.card a {
  text-decoration: none;
}

/* Remove underline specifically for links within card elements */

.features .card a {
  text-decoration: none;
}

/* Force removal of underline specifically for links within card elements */

.features .card a {
  text-decoration: none !important;
}

/* Apply underline styling only within content areas */

.content a {
  text-decoration: underline;
  font-weight: bold;
}

/* Universal breadcrumb styling */
.breadcrumb {
  font-size: 0.9em;
  color: #888;
  margin: 10px 0 20px;
}

.breadcrumb a {
  color: #888;
}

.breadcrumb a:hover {
  color: #555;
}

.breadcrumb span {
  color: #333;
}
