---
layout: page
---

<div class="content">
  <!-- Render README content dynamically using the new shortcode -->
  {% fetchMarkdown "https://raw.githubusercontent.com/ultiblox/SensorAnalog/refs/heads/main/README.md" %}

</div>