<!-- Navigation Menu -->
<nav id="menu" class="text-right py-6 pr-6 flex items-center justify-end space-x-4">
    <!-- Activity Summary -->
    <div id="activity-summary" class="border border-gray-300 bg-gray-100 text-sm text-gray-600 px-4 py-2 rounded mt-1 font-bold" style="padding: 0.75rem 1.5rem;">
    </div>

    <!-- GitHub Button -->
    <a href="https://github.com/ultiblox/" target="_blank" rel="noopener" 
       class="github-button">
        <img src="/assets/icons/github.svg" alt="GitHub logo" class="mr-3 w-6 h-6" />
        Explore on GitHub
    </a>
</nav>

<script src="/assets/js/git-org-stats.js"></script>
