<!-- Navigation Menu -->
<nav id="menu" class="text-right py-6 pr-6">
    <a href="https://github.com/ultiblox/" target="_blank" rel="noopener" 
       class="github-button text-gray-800 text-lg font-semibold py-3 px-8 rounded hover:bg-teal-500 hover:text-white inline-flex items-center transition-colors">
        <img src="/assets/icons/github.svg" alt="GitHub logo" class="mr-3 w-6 h-6" />
        Explore on GitHub
    </a>
</nav>