{%- set lazyImage = "data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%201%201'%20height%3D'500'%20width%3D'960'%20style%3D'background-color%3Argb(203%2C213%2C224)'%2F%3E" -%}

<div class="max-w-5xl mx-auto mt-12">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for page in collections.pages %}
            {# Filter to display only subpages with parent matching the current page title #}
            {% if page.data.parent == title %}
                <div class="rounded shadow-md h-full p-2 mb-2">
                    <a href="{{ page.url | url }}">
                        <img class="w-full m-0 rounded-t" src="{{ page.data.image | url }}" loading="lazy" width="960" height="500" alt="{{ page.data.title }}">
                    </a>
                    <div class="px-6 py-5">
                        <div class="font-semibold text-lg mb-2">
                            <a class="text-slate-900 hover:text-slate-700" href="{{ page.url | url }}">{{ page.data.title }}</a>
                        </div>
                        {% if page.data.description %}
                            <p class="text-slate-800">{{ page.data.description }}</p>
                        {% else %}
                            <p class="text-slate-800">{{ page.templateContent | striptags | truncate(90, true) }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
